.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 80px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green {
    position: relative;
    z-index: 3;
    transform: rotate(-4deg);
}

.green-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);
    font-weight: 300;
}

.purple {
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

.purple-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.brown {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    transform: rotate(2deg);
}

.brown-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2deg);
    font-weight: 300;
}

.about-img {
    height: 40px;
    width: 35px;
}

.about-ripped-img {
    height: 160px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-me-top {
    display: flex;
    flex-direction: column;
}

.about-me-top h3 {
    font-size: var(--big-headline);
    margin: 0;
}

.about-me-top h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-font-weight);
    margin: 0;
}

.about-me-mid {
    display: flex;
}

.about-me-bottom {
    display: flex;
    justify-content: flex-end;
}

.lets-talk-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 140px;
    height: 39px;
}

.about-underline {
    width: 280px;
    height: 24px;
}

.about-me-text {
    color: black;
    font-size: 22px;
}