.about {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 80px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green {
    position: relative;
    z-index: 3;
    transform: rotate(-4deg);
}

.green-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);
    font-weight: var(--light-font-weight);
    font-size: var(--standard-text);
    color: var(--primary-color);
}

.purple {
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

.purple-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--light-font-weight);
    font-size: var(--standard-text);
    color: var(--primary-color);
}

.brown {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    transform: rotate(2deg);
}

.brown-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2deg);
    font-weight: var(--light-font-weight);
    font-size: var(--standard-text);
    color: var(--primary-color);
}

.about-img {
    height: 40px;
    width: 35px;
}

.about-ripped-img {
    height: 160px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-me-top {
    display: flex;
    flex-direction: column;
}

.about-me-top h3 {
    font-size: var(--big-headline);
    margin: 0;
}

.about-me-top h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-font-weight);
    margin: 0;
}

.about-me-mid {
    display: flex;
}

.about-me-bottom {
    display: flex;
    justify-content: flex-end;
}

.lets-talk-btn {
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    box-shadow: 2px 2px 0 0;
    font-size: var(--small-text);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.lets-talk-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.about-underline {
    width: 280px;
    height: 24px;
    animation: draw 5s ease infinite;
}

@keyframes draw {
    0% { clip-path: inset(0 100% 0 0); }
    20% { clip-path: inset(0 0% 0 0); }
    70% { clip-path: inset(0 0% 0 0); }
    90% { clip-path: inset(0 100% 0 0); }
    100% { clip-path: inset(0 100% 0 0); }
}

.about-me-text {
    color: black;
    font-size: 22px;
}