.contact {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/background/footer-bg.png");
    background-position: top;
    background-size: cover;
    z-index: -1;
}

.contact-content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 70px 40px 70px;
    display: flex;
    flex-direction: column;

}

.contact-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 560px;
    width: 100%;
}

.contact-left h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-weight);
    margin: 0;
    margin-bottom: 20px;
}

.contact-left h3 {
    font-size: var(--big-headline);
    font-weight: var(--heavy-weight);
    margin: 0;
    margin-bottom: 40px;
}

.contact-text {
    display: flex;
    margin-bottom: 40px;
    font-size: var(--small-text);
}

.contact-arrow-img {
    width: 280px;
    align-self: self-end;
    animation: draw-left-right 5s ease-in-out infinite;
}

.contact-arrow-img-mobile {
    display: none;
}

.contact-right {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    gap: 20px;
}

.contact-badge {
    height: 100px;
    width: 170px;
    align-self: flex-end;
    position: relative;
}

.contact-badge-mobile {
    display: none;
}

.contact-badge-img {
    height: 170px;
    z-index: 1;
}

.contact-badge-circle-img {
    position: absolute;
    height: 160px;
    z-index: 2;
    right: 4%;
    top: 4%;
}

.contact-badge-logo-img {
    position: absolute;
    height: 80px;
    z-index: 2;
    right: 25%;
    top: 45%;
    filter: brightness(0);
    transform: rotate(16deg);
}

.contact-right h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-weight);
    margin: 0;
    margin-bottom: 12px;
}

.contact-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-questions-seperator {
    height: 1px;
    width: 100%;
    background-color: var(--main-color-one);
}

.bar-one {
    background-color: transparent;
}

.contact-input-field {
    background: none;
    border: none;
    margin-bottom: 8px;
    font-size: var(--small-text);
    outline: none;
    color: var(--primary-color);
}

.name-question {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    z-index: 2;
}

.name-question:hover {
    color: var(--main-color-three);
}

.email-question {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.email-question:hover {
    color: var(--main-color-three);
}

.help-question {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.help-question:hover {
    color: var(--main-color-three);
}

.contact-check {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox {
    appearance: none;
    border: 2px solid var(--main-color-two);
    min-width: 20px;
    min-height: 20px;
    margin: 0;
}

.checkmark-img {
    position: absolute;
    top: 25%;
    left: 70%;
    height: 24px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.checkmark-img.visible {
    opacity: 1;
}

.contact-link {
    color: var(--main-color-two);
}

.send-btn {
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    color: var(--primary-color);
    cursor: pointer;
    width: 140px;
    height: 40px;
    align-self: self-end;
    box-shadow: 4px 4px 0 0;
    font-size: var(--small-text);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.send-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.send-btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid gray;
    color: gray;
}

.send-btn-mobile {
    display: flex;
    justify-content: flex-end;
}

.name-question,
.email-question,
.help-question {
    position: relative;
}

.error-msg {
    position: absolute;
    color: red;
    top: 55%;
    font-size: var(--small-text);
    margin: 0;
    pointer-events: none;
}

/* Mobile */
@media (max-width: 950px) {
    .contact-content {
        flex-direction: column;
        gap: 20px;
    }

    .contact-badge {
        display: none;
    }

    .contact-badge-mobile {
        height: 100px;
        display: flex;
        align-self: flex-end;
        position: relative;
    }

    .contact-badge-img-mobile {
        height: 140px;
        z-index: 1;
    }

    .contact-badge-circle-img-mobile {
        position: absolute;
        height: 130px;
        z-index: 2;
        right: 4%;
        top: 4%;
    }

    .contact-badge-logo-img-mobile {
        position: absolute;
        height: 60px;
        z-index: 2;
        right: 28%;
        top: 40%;
        filter: brightness(0);
        transform: rotate(16deg);
    }

    .contact-arrow-img {
        display: none;
    }

    .contact-arrow-img-mobile {
        display: flex;
        height: 44px;
        width: 280px;
        animation: slide-in-out 5s ease-in-out infinite;
    }

    .send-btn-mobile {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
}

@media (max-width: 680px) {
    .contact-content-wrapper {
        padding: 100px 35px 20px 35px;
    }
}

@media (max-width: 505px) {
    .contact-left h4 {
        font-size: 20px;
    }

    .contact-left h3 {
        font-size: 52px;
    }

    .contact-arrow-img-mobile {
        width: 180px;
        height: 38px;
    }

    .send-btn {
        width: 120px;
        height: 36px;
    }
}

@media (max-width: 405px) {
    .contact-content-wrapper {
        padding: 100px 15px 15px 15px;
    }

    .contact-badge-img-mobile {
        height: 120px;
    }

    .contact-left h3 {
        font-size: 42px;
    }

    .contact-arrow-img-mobile {
        width: 140px;
        height: 30px;
    }

    .send-btn {
        width: 100px;
        height: 32px;
    }
}