header {
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo {
    height: 60px;
    width: 60px;
}

.header-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.language-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: var(--primary-color);
    font-size: var(--standard-text);
}

.toggle-track {
    position: relative;
    width: 32px;
}

.vector-bar {
    width: 100%;
    display: block;
}

.vector-point {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.vector-point.active {
    left: 100%;
    transform: translate(-100%, -50%);
}

header a {
    text-decoration: none;
    font-size: var(--standard-text);
    font-weight: var(--heavy-font-weight);
    color: var(--primary-color);
}