.hero {
    background-image: url("../assets/images/background/hero-bg.png");
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 120px 40px 120px;
    display: flex;
    flex-direction: column;
}

.hero-contact-links {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
    width: 40px;
    margin-top: 40%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 880px;
    gap: 16px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-top {
    display: flex;
    justify-content: space-around;
}

.hero-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-top-right {
    display: flex;
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
}

.hello-world-img {
    height: 40px;
    width: 140px;
}

.getintouch-img {
    height: 40px;
    width: 140px;
}