.hero {
    background-image: url("../assets/images/background/hero-bg.png");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 70px 15px 70px;
    display: flex;
    flex-direction: column;
}

.hero-contact-links {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
    width: 40px;
    margin-top: 40%;
}

.social-link {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social-images {
    height: 32px;
    width: 32px;
}

.social-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--highlight-color);
    border-radius: 50%;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 0;
}

.social-link:hover::before {
    transform: translateY(0);
}

.social-images {
    position: relative;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: 100%;
    gap: 16px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-top {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.hero-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hello-world-btn {
    height: 40px;
    width: 140px;
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: var(--small-text);
    transition: width 0.3s ease, background 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}

.hello-world-btn.expanded {
    width: 220px;
    background: var(--highlight-color);
}

.hello-world-wrapper {
    position: relative;
    width: 140px;
    transition: width 0.3s ease;
}

.hello-world-wrapper.expanded {
    width: 220px;
}

.hand-img {
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity 0.1s ease 0.1s, left 0.7s ease, transform 0.7s ease;
    transform: translateX(-50%) rotate(360deg);
}

.hello-world-wrapper.expanded .hand-img {
    opacity: 1;
    left: 100%;
    transform: translateX(-50%) rotate(720deg);
    transition: opacity 0.1s ease, left 0.7s ease, transform 0.7s ease;
}

.frontend-headline {
    margin: 0;
    font-size: 140px;
    font-weight: 600;
    color: var(--primary-color);
    width: 590px;
}

.hero-top-right {
    display: flex;
    transform: rotate(8deg);
}

.photo-frame-img {
    height: 240px;
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
}

.developer-headline {
    margin: 0;
    font-size: 140px;
    font-weight: 600;
    color: var(--primary-color);
}

.letter {
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.letter:hover {
    color: var(--main-color-one);
}

.getintouch-btn {
    height: 40px;
    width: 140px;
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: var(--small-text);
    box-shadow: 4px 4px 0 0;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.getintouch-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

@media (max-width: 1000px) {
    .frontend-headline {
        font-size: 125px;
    }

    .developer-headline {
        font-size: 125px;
    }

    .photo-frame-img {
        height: 200px;
    }
}

/* Mobile */
@media (max-width: 900px) {}