.hero {
    background-image: url("../assets/images/background/hero-bg.webp");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 70px 15px 70px;
    display: flex;
    flex-direction: column;
}

.hero-contact-links {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
    width: 40px;
    margin-top: 40%;
}

.social-link {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social-images {
    height: 32px;
    width: 32px;
    position: relative;
    z-index: 1;
}

.social-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color-two);
    border-radius: 50%;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 0;
}

.social-link:hover::before {
    transform: translateY(0);
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    gap: 12px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 8px;
    height: 260px;
}

.hero-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.hello-world-btn {
    height: 40px;
    width: 140px;
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: var(--small-text);
    transition: width 0.3s ease, background 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}

.hello-world-btn.expanded {
    width: 220px;
    background: var(--main-color-two);
}

.hello-world-wrapper {
    position: relative;
    width: 140px;
    transition: width 0.3s ease;
}

.hello-world-wrapper.expanded {
    width: 220px;
}

.hand-img {
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity 0.1s ease 0.1s, left 0.7s ease, transform 0.7s ease;
    transform: translateX(-50%) rotate(360deg);
}

.hello-world-wrapper.expanded .hand-img {
    opacity: 1;
    left: 100%;
    transform: translateX(-50%) rotate(720deg);
    transition: opacity 0.1s ease, left 0.7s ease, transform 0.7s ease;
}

.frontend-headline {
    margin: 0;
    font-size: 140px;
    font-weight: 600;
    color: var(--primary-color);
    min-width: 590px;
    line-height: 1;
}

.hero-top-right {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 260px;
    transform: rotate(8deg);
    flex-shrink: 0;
}

.hero-top-right:hover {
    .profile-picture {
        filter: unset;
    }
}

.hero-top-right:hover .photo-signature,
.hero-top-right-mobile:hover .photo-signature-mobile {
    animation: wiggle 0.4s ease-in-out;
}

.photo-frame-img {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 25px;
    left: 0;
    z-index: 2;
}

.profile-picture {
    position: absolute;
    height: 200px;
    width: 87%;
    bottom: 60px;
    right: 12px;
    filter: grayscale();
}

.photo-signature {
    position: absolute;
    bottom: 5px;
    left: 55px;
    font-family: var(--font-style-two);
    font-size: var(--standard-text);
    font-weight: var(--heavy-font-weight);
    z-index: 3;
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
}

.developer-headline {
    margin: 0;
    font-size: 140px;
    font-weight: 600;
    color: var(--primary-color);
    white-space: nowrap;
    line-height: 1;
}

.letter {
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.letter:hover {
    color: var(--main-color-one);
}

.getintouch-btn {
    height: 40px;
    width: 140px;
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: var(--small-text);
    box-shadow: 4px 4px 0 0;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.getintouch-btn:hover {
    cursor: pointer;
    background-color: var(--main-color-three);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.hero-top-right-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .frontend-headline {
        font-size: 125px;
    }

    .developer-headline {
        font-size: 125px;
    }
}

/* Mobile */
@media (max-width: 950px) {
    .hero-content {
        gap: unset;
    }

    .hero-contact-links {
        display: none;
    }

    .hero-top-right {
        display: none;
    }

    .hero-top {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .hero-bottom {
        flex-direction: column;
    }

    .frontend-headline {
        min-width: unset;
    }

    .developer-headline {
        align-self: flex-start;
    }

    .mobile-photo-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 60px;
    }

    .hero-top-right-mobile {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 200px;
        height: 260px;
        transform: rotate(8deg);
    }

    .hero-top-right-mobile:hover .profile-picture-mobile {
        filter: unset;
    }

    .photo-frame-img-mobile {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 25px;
        left: 0;
        z-index: 2;
    }

    .profile-picture-mobile {
        position: absolute;
        height: 200px;
        width: 87%;
        bottom: 60px;
        right: 12px;
        filter: grayscale();
    }

    .photo-signature-mobile {
        position: absolute;
        bottom: 35px;
        left: 55px;
        font-family: var(--font-style-two);
        font-size: var(--standard-text);
        font-weight: var(--heavy-font-weight);
        z-index: 3;
        margin: 0;
        line-height: 1;
    }
}

@media (max-width: 800px) {
    .frontend-headline {
        font-size: 100px;
    }

    .developer-headline {
        font-size: 100px;
    }
}

@media (max-width: 680px) {
    .hero-content-wrapper {
        padding: 15px 35px 15px 35px;
    }

    .frontend-headline {
        font-size: 80px;
    }

    .developer-headline {
        font-size: 80px;
    }
}

@media (max-width: 505px) {
    .frontend-headline {
        font-size: 60px;
    }

    .developer-headline {
        font-size: 60px;
    }
}

@media (max-width: 405px) {
    .hero-content-wrapper {
        padding: 15px 15px 15px 15px;
    }

    .frontend-headline {
        font-size: 50px;
    }

    .developer-headline {
        font-size: 50px;
    }
}