.projects {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-font-weight);
    margin: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

.projects h3 {
    font-size: var(--big-headline);
    font-weight: var(--heavy-font-weight);
    margin: 0;
}

.projects-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 60px;
}

.projects-top {
    display: flex;
    height: 50%;
    gap: 80px;
}

.projects-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
}

.projects-text {
    font-size: var(--small-text);
    margin: 0;
    margin-top: 40px;
}

.join-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.join {
    position: relative;
}

.join-img {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(15px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(15px); }
}

.join-img-wrapper {
    position: relative;
}

.join-img-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 40%;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    border-radius: 0 0 8px 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.join-img-wrapper:hover::after {
    opacity: 1;
}

.join-hover-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 170px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    background: none;
    color: var(--primary-color);
    font-size: var(--small-text);
    box-shadow: 2px 2px 0 0;
}

.join-hover-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.join-img-wrapper:hover .join-hover-btn {
    opacity: 1;
    pointer-events: all;
}

.join-badge-img {
    position: absolute;
    bottom: 160px;
    left: 0;
    pointer-events: none;
}

.projects-bottom {
    display: flex;
    height: 50%;
    gap: 80px;
}

.sharky-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.sharky-img {
    width: 560px;
    height: 360px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.sharky-img:hover {
    transform: scale(1.1);
}

.pokedex-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.pokedex-img {
    width: 560px;
    height: 360px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.pokedex-img:hover {
    transform: scale(1.1);
}