body {
    height: 100vh;
    width: 100%;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bricolage', sans-serif;
    position: relative;
}

.project-background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.previous-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 110px;
}

.previous-link:hover {
    color: var(--main-color-three);
}

.arrow-img {
    height: 24px;
}

a {
    text-decoration: none;
    font-size: var(--small-text);
    color: var(--secondary-color);
    font-weight: var(--heavy-font-weight);
}

h2 {
    font-size: var(--big-headline);
    margin: 0;
}

h3 {
    font-size: var(--small-headline);
    margin-bottom: 0;
}

.project-showcase {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 50px 20px 60px;
    gap: 120px;
    width: 100%;
}

.underline-img {
    width: 120px;
    height: 20px;
    margin-bottom: 40px;
    animation: draw-left-right 5s ease infinite;
}

.sharky-underline {
    width: 220px;
    height: 20px;
    margin-bottom: 40px;
    animation: draw-left-right 5s ease infinite;
}

.dabubble-underline {
    width: 280px;
    height: 20px;
    margin-bottom: 40px;
    animation: draw-left-right 5s ease infinite;
}

.project-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    min-width: 0;
    flex-shrink: 1;
}

.tech-stack {
    display: flex;
    justify-content: space-around;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    min-width: 420px;
    height: 550px;
    flex-shrink: 1;
}

.project-images-container {
    position: relative;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.badge-group {
    position: absolute;
    right: -10%;
    bottom: 30%;
    height: 120px;
    width: 120px;
}

.project-badge-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
}

.contact-badge-circle-img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 110px;
    z-index: 2;
}

.contact-badge-logo-img {
    position: absolute;
    top: 28px;
    left: 30px;
    height: 60px;
    z-index: 2;
    filter: brightness(0);
    transform: rotate(16deg);
}

.test-btn {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.test-github-btn {
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    width: 125px;
    height: 40px;
    box-shadow: 4px 4px 0 0;
    color: var(--primary-color);
    font-size: var(--small-text);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.test-github-btn:hover {
    cursor: pointer;
    background-color: var(--main-color-three);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.test-live-btn {
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    width: 125px;
    height: 40px;
    box-shadow: 4px 4px 0 0;
    color: var(--primary-color);
    font-size: var(--small-text);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.test-live-btn:hover {
    cursor: pointer;
    background-color: var(--main-color-three);
    box-shadow: 0 0 0 0;
    transform: translate(4px, 4px);
}

.next-link-desktop {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: flex-end;
    color: var(--primary-color);
    margin-top: auto;
}

.next-link-desktop:hover {
    color: var(--main-color-one);
}

.previous-link-mobile {
    display: none;
}

.adaptive-text {
    color: white;
    mix-blend-mode: difference;
}

.prev-next-btn-box-mobile {
    display: none;
}

@media (max-width: 1210px) {
    .project-showcase {
        gap: 60px;
    }
}

@media (max-width: 1050px) {
    .project-showcase {
        gap: 40px;
    }
}

@media (max-width: 950px) {
    .project-background-img {
        width: 100vh;
        height: 100vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    main {
        padding-top: 100px;
    }

    .previous-link {
        display: none;
    }

    .previous-link-mobile:hover {
        color: var(--main-color-three);
    }

    .project-showcase {
        flex-direction: column;
        padding: 20px 0 60px 0;
    }

    .project-badge-img {
        display: none;
    }

    .project-container {
        min-width: unset;
    }

    .previous-link-mobile {
        display: flex;
        color: var(--primary-color);
        gap: 12px;
    }

    .badge-group {
        display: none;
    }

    .next-link-desktop {
        display: none;
    }

    .next-link {
        display: flex;
        gap: 12px;
        color: var(--primary-color);
    }

    .next-link:hover {
        color: var(--main-color-one);
    }

    .prev-next-btn-box-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 680px) {
    .project-wrapper {
        padding: 15px 35px 15px 35px;
    }

    .underline-img {
        margin: 0;
    }
}

@media (max-width: 505px) {
    .test-github-btn {
        width: 100px;
    }

    .test-live-btn {
        width: 100px;
    }
}

@media (max-width: 405px) {
    .project-wrapper {
        padding: 15px 15px 15px 15px;
    }

    a {
        font-size: 16px;
    }
}