.projects {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h4 {
    font-size: var(--small-headline);
    font-weight: var(--middle-font-weight);
    margin: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

.projects h3 {
    font-size: var(--big-headline);
    font-weight: var(--heavy-font-weight);
    margin: 0;
}

.projects-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 60px;
}

.projects-top {
    display: flex;
    height: 50%;
    gap: 80px;
}

.projects-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
}

.projects-text {
    font-size: var(--small-text);
    margin: 0;
    margin-top: 40px;
}

.join-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.join {
    position: relative;
}

.join-img {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(15px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(15px); }
}

.join-badge-img {
    position: absolute;
    bottom: 160px;
    left: 0;
}

.projects-bottom {
    display: flex;
    height: 50%;
    gap: 80px;
}

.sharky-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.sharky-img {
    width: 560px;
    height: 360px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.sharky-img:hover {
    transform: scale(1.1);
}

.pokedex-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 560px;
}

.pokedex-img {
    width: 560px;
    height: 360px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.pokedex-img:hover {
    transform: scale(1.1);
}