.skills {
    background-image: url("../assets/images/background/skills-bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-content {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.skill-left {
    display: flex;
    flex-direction: column;
}

.skill-mid {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 650px;
}

.skill-paper-img {
    width: 650px;
    height: 140px;
    position: relative;
}

.skill-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: black;
}

.skill-badges {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.skill-right {
    display: flex;
    align-items: end;
    margin-bottom: 40px;
    transform: rotate(8deg);
}

.peel-img {
    height: 200px;
    width: 200px;
    position: relative;
}

.peel-arrow {
    position: absolute;
    height: 40px;
    top: 60%;
    right: 40%;
}

.peel-text {
    margin: 0;
    position: absolute;
    top: 70%;
    right: 36%;
    font-family: 'Kalam';
    text-align: center;
    font-size: 38px;
}