.skills {
    background-image: url("../assets/images/background/skills-bg.png");
    background-position: bottom;
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-content {
    width: 100%;
    height: 450px;
    display: flex;
    gap: 60px;
}

.skill-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.skill-headline-one {
    font-size: var(--small-headline);
    font-weight: var(--light-font-weight);
    color: var(--primary-color);
    text-wrap: nowrap;
    margin: 0;
    margin-bottom: 16px;
}

.skill-headline-two {
    font-size: var(--big-headline);
    font-weight: var(--heavy-font-weight);
    color: var(--primary-color);
    text-wrap: nowrap;
    margin: 0;
}


.skill-mid {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 650px;
}

.skill-paper-img {
    width: 650px;
    height: 140px;
    position: relative;
}

.skill-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    max-width: 650px;
    box-sizing: border-box;
    padding: 12px 12px 28px 12px;
    color: var(--secondary-color);
    font-size: var(--small-text);
}

.skill-badges {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.skill-right {
    display: flex;
    align-items: end;
    margin-bottom: 40px;
    transform: rotate(8deg);
}

.peel-img {
    height: 200px;
    width: 200px;
    position: relative;
}

.peel-arrow {
    position: absolute;
    height: 40px;
    top: 60%;
    right: 40%;
}

.peel-text {
    margin: 0;
    position: absolute;
    top: 70%;
    right: 36%;
    font-family: 'Kalam';
    text-align: center;
    font-size: 38px;
}